version: '3'
services:
  account-service:
    build: account-service
    image: opinionated-spring-boot-solution_account-service:latest
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CLIENT_PAYMENT_URL=http://payment-service:8080
      - SPRING_ZIPKIN_BASE-URL=http://zipkin-server:9411
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_VAULT_URI=https://vault:8200
      - SPRING_CLOUD_VAULT_TOKEN=s.bs3MxGTRrJwU3MDCYU8sOWJT
    depends_on:
      - payment-service
    networks:
      - opinionated-spring-boot-solution_backend
  payment-service:
    build: payment-service
    image: opinionated-spring-boot-solution_payment-service:latest
    ports:
      - "8081:8080"
    environment: 
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_ZIPKIN_BASE-URL=http://zipkin-server:9411
      - SPRING_CLOUD_CONSUL_HOST=consul
    networks:
      - opinionated-spring-boot-solution_backend
networks:
  opinionated-spring-boot-solution_backend:
    external: true